*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    
}
#parent h1{
    padding: 30px 0 10px 0;
    color: rgb(221, 235, 36);
    text-align: center; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 10vw !important; 
    padding: 70px 0px;
    text-shadow: white 0 0 10px;
    font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
}

#output{
    width: 100%;
    font-weight: 800;
    color: rgba(248, 248, 250, 0.753);
    padding-top: 40px;
    /*text-shadow: white 0 0 10px;*/
    font-size: 3.5vw;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}
pre{
    background-color: transparent;
}
#parent{
    padding: 50px 0px 70px 0; 
    background-image:linear-gradient(
        80deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    )
    ,
    url(./bg.jpg);
    background-repeat: no-repeat;/*#1B2030 url(./bg.jpg) 50% 0 no-repeat; 
    */
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment:fixed;
    animation: grow 50s  linear 10ms infinite;
    transition:all 0.4s ease-in-out;
    z-index:-2;
}
.hi{
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(221, 235, 36);
    text-shadow: white 0 0 10px;
    text-align: right;
    margin: -20px 0 0 0;
    padding: 0px 20vw 0px 0;
    display: none;
}
.show{
    display: block;
}

@media (max-width:500px)
{
    html{
        font-size: 65%;
    }
    #parent h1{
        font-size: 30px;
    }
    .hi{
        font-size: 20px;
        margin: -20px 0 0 0;
        padding: 8px 25px 0px 0;
    }
}

@media (max-width:700px) and (min-width:501px){

    html{
        font-size: 75%;
    }
    #parent h1{
        font-size: 35px;
    }
    .hi{
        font-size: 25px;
        margin: -20px 0 0 0;
        padding: 5px 8vw 0px 0;
    }
}

@media (max-width:900px) and (min-width:701px){

    html{
        font-size: 85%;
    }
    #parent h1{
        font-size: 40px;
    }
    .hi{
        font-size: 30px;
        margin: -20px 0 0 0;
        padding: 3px 8vw 0px 0;
    }
}

@media (max-width:1200px) and (min-width:901px){

    html{
        font-size: 85%;
    }
    #parent h1{
        font-size: 40px;
    }
    .hi{
        font-size: 30px;
        margin: -20px 0 0 0;
        padding: 3px 12vw 0px 0;
    }
}
