*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: aquamarine;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Waiting for the Sunrise", cursive;
}
h1.cursor::after {
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:white;
    animation-name:blink;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
  }
h1.cursor::after {
    height:24px;
    width:13px;
}

@keyframes blink {
    0% {
        opacity:1;
    }
    49% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
  